html,
body,
.container-fluid,
.row {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Festive', cursive;
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

h2 {
    position: relative;
    margin: 30px 0;
}

h2::before {
    content: "";
    display: block;
    width: 40%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: -2;
}

h2::after {
    content: "";
    display: block;
    width: 40%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: -2;
}

h3 {
    font-size: 25px;
    margin: 0;
    padding-left: 10px;
    color: white;
}

h5 {
    background-color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    padding: 5px 0;
}
.new {
    background-color: red;
    color: white;
    text-shadow: 1px 1px 1px white;
    width: 20%;
}
.carousel-caption {
    width: auto;
    color: black;
    left: 0;
}

/* nav mobile */
.nav {
    display: none;
}

.nav p {
    margin: 0;
    padding: 10px;
}

.nav button {
    border: none;
}

.bgwhite {
    background-color: white;
}

.navbar-mobile {
    font-size: 18px;
}

.navbar-mobile P {
    font-family: 'Festive', cursive;
    font-size: 25px;
    font-weight: bold;
}

.navbar-mobile i {
    color: black;
}

.modal-header {
    background-color: #c0b4ad;
    border-radius: 0;
    padding: 5px;
}

.modal-header .btn-close {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    margin-right: 10px;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.btn-home {
    background-color: rgba(216, 212, 211, 0.5);
}

.btn-home a {
    display: block;
    margin: 0;
    padding: 10px;
}

.btn-categories {
    background-color: rgba(247, 238, 221, 0.5);
}

.btn-collections {
    background-color: rgba(227, 232, 235, 0.5);
}

.btn-sale {
    background-color: rgba(224, 188, 172, 0.5);
}

.category-links,
.collection-links {
    display: none;
}

.category-links p,
.collection-links p {
    padding: 5px;
    color: #bea594;
}

/* nav pc */
nav {
    padding: 5px 0;
}

nav .btn-user {
    border: none;
    background-color: white;
}

#exampleModal1 {
    top: 19px;
}

a {
    color: black;
    text-decoration: none;
}

nav a:hover, nav .btn-user:hover {
    color: #bea594;
}

/* form connexion*/
.sign-in {
    border-bottom: 1px solid black;
}

form input {
    border: none;
    border-bottom: 1px solid black;
}

.inscription {
    display: none;
}

.connexion div input, 
.inscription div input {
    padding: 0;
}

input:focus {
    outline: none;
}

.btn-connect {
    border-radius: 0;
    background-color: #c0b4ad;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

.btn-connect:hover {
    color: whitesmoke;
    opacity: 0.8;
}

.banner {
    height: 700px;
}

/* Catégories et collections */
.categories span, h2 span {
    background: white;
    padding: 0 10px;
}

.collections {
    padding: 30px 50px;
}

.categories {
    padding: 30px 50px;
}

.collection {
    height: auto;
}

.collection img,
.category img {
    opacity: 0.8;
}

.collection img:hover,
.category img:hover {
    opacity: 1;
}

.category {
    height: 350px;
    padding: 10px;
    position: relative;
}

.category h5 {
    position: absolute;
    font-size: 17px;
    width: 70%;
    bottom: 5%;
    padding: 5px;
    box-shadow: 1px 1px 3px 0 black;
}

.collection:hover,
.category:hover {
    transform: scale(1.1);
}

/* Carousel mobile */
.carousel {
    display: none;
}

/* Carousel pc */
html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    width: 400px;
    height: 400px;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
    height: 200px;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
    width: 200px;
    height: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.prev img {
    width: 300px;
    height: 300px;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
    width: 200px;
    height: 200px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
    width: 300px;
    height: 300px;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
    width: 200px;
    height: 200px;
  }


/* footer mobile */
.footer {
    display: none;
    font-size: 10px;
}

/* footer pc */
footer {
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

footer p {
    font-size: 15px;
    margin: 0;
}

.subtitles {
    border-left: 2px solid white;
}

footer .subtitles a {
    display: block;
}

.subtitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitles a:hover {
    color: black;
    transform: scale(1.1);
    padding-left: 15px;
}

.copyright {
    font-size: 10px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover, .sign-in:hover, .sign-up:hover {
    cursor: default;
}

/* Dropdown Content (Hidden by Default) */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
}

nav .dropdown-content p {
    padding-left: 7px;
}

/* Links inside the dropdown */
nav .dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 0 0 5px 15px;
}

nav .dropdown-content a:hover {
    transform: scale(1.2);
    padding-left: 25px;
}

/* Show the dropdown menu on hover */
nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown:hover {
    color: #bea594;
}

@media screen and (max-width: 992px) {
    nav {
        display: none;
    }

    .nav {
        display: block;
    }

    .banner {
        height: 25%;
    }

    .collections {
        padding: 0 0;
    }
    .carousel {
        display: block;
    }
    #carousel {
        display: none;
    }
    .carousel-item {
        height: 366px;
    }
    .categories {
        padding: 10px 0;
    }
    .category {
        height: 200px;
        padding: 0;
    }
    .collection img,
    .category img {
    opacity: 1;
}
    .box {
        padding: 0;
    }
    h2 {
        margin: 10px;
    }
    .footer-pc {
        display: none;
    }
    .footer {
        display: inline;
    }
}
